@use '../abstracts/variables' as var;
@use '../abstracts/mixin' as mx;
@use 'sass:map';

.btn{
    font-family: 'MyNokora';

    &--primary{
        @include mx.flex-center(row);
        gap: map.get(var.$sizes, xs);
        font-size: map.get(var.$sizes, xm);
        font-weight: 700;
        padding: map.get(var.$sizes, xs) map.get(var.$sizes, m);
        background-color: map.get(var.$colors, button-bg-survey);
        border: none;
        border-radius: map.get(var.$normSizes, s);
        position: relative;
        transition: padding-right 0.3s ease, background-color 0.3s ease;

        &__iconAdd{
            opacity: 0;
            transform: translateX(20px);
            transition: opacity 0.1s ease, transform 0.3s ease;
            position: absolute;
            right: map.get(var.$sizes, m);
        }

        &__iconAddRight{
            opacity: 0;
            transform: translateX(15px);
            transition: opacity 0.1s ease, transform 0.3s ease;
            position: absolute;
            right: map.get(var.$sizes, xl);
        }

        &__iconCheck{
            opacity: 0;
            position: absolute;
            right: map.get(var.$sizes, m);
        }

        &:hover{
            cursor: pointer;
            background-color: map.get(var.$colors, font-orange);
            padding-right: 50px;

            .btn--primary__iconAdd{
                opacity: 1;
                transform: translateX(0px);
            }

            .btn--primary__iconAddRight{
                opacity: 1;
                transform: translateX(10px);
            }
        }

        &:active{
            .btn--primary__iconAdd{
                opacity: 0;
            }

            .btn--primary__iconAddRight{
                opacity: 0;
            }

            .btn--primary__iconCheck{
                opacity: 1;
            }
        }

        &:disabled{
            animation: none;
            padding-right: map.get(var.$sizes, m);
            background-color: map.get(var.$colors, button-bg-survey);
            cursor: not-allowed;

            .btn--primary__iconAdd{
                opacity: 0;
            }

            .btn--primary__iconCheck{
                opacity: 0;
            }
        }
    }

    &--secondary{
        @include mx.flex-center(row);
        gap: map.get(var.$sizes, m);
        padding: map.get(var.$sizes, s) map.get(var.$sizes, xs);
        background-color: rgba(255, 183, 112, 0.3);
        border: unset;
        border-radius: map.get(var.$normSizes, s);

        &:hover{
            cursor: pointer;
            background-color: rgba(255, 183, 112, 0.6);
        }

        &:disabled{
            animation: none;
            background-color: rgba(255, 183, 112, 0.3);
            cursor: not-allowed;
        }
    }

    &--teritiary{
        @include mx.flex-center(row);
        gap: map.get(var.$sizes, xs);
        font-size: map.get(var.$sizes, xm);
        font-weight: 700;
        padding: map.get(var.$sizes, s) map.get(var.$sizes, xs);
        background-color: map.get(var.$colors, button-bg-survey);
        border: none;
        border-radius: map.get(var.$normSizes, s);

        &:hover{
            cursor: pointer;
            background-color: map.get(var.$colors, font-orange);
        }
    }
}