<section class="surveyView">
    <app-survey-completed-dialog [(isDialogOpen)]="showDialog"></app-survey-completed-dialog>
    <header class="surveyHeader">
        <img src="assets/img/logo_purple.svg" alt="poll app logo in purple">
        <div class="surveyHeader__mobileView">
            <button [routerLink]="['/draft']" class="btn btn--primary">
                <span>New survey</span>
                <img class="btn--primary__iconAddRight" src="assets/icons/add_circle.svg" alt="add circle icon">
                <img class="btn--primary__iconCheck" src="assets/icons/check.svg" alt="check icon">
            </button>
        </div>
    </header>
    @if(actualSurvey && actualSurvey.questions){
        <div class="viewContentContainer">
            <article class="surveyIndication">
                <div class="surveyIndication__publishedContainer">
                    <div class="surveyIndication__publishedBox">
                        <span class="surveyIndication__publishedBox__text">Published</span>
                    </div>
                    <div class="surveyIndication__publishedContainer__cancelContainer">
                        <button [routerLink]="['']" class="btn btn--teritiary">
                            <img src="assets/icons/close_purple.svg" alt="purple cross as close icon">
                        </button>
                    </div>
                </div>
                <div class="surveyIndication__infoBox">
                    <span class="surveyIndication__infoBox__text">Ends on {{formattedEndDate()}}</span>
                    <span class="surveyIndication__infoBox__text">Category: {{actualSurvey.category}}</span>
                </div>
                <span class="surveyIndication__caption">{{actualSurvey.name}}</span>
                <span class="surveyIndication__description">{{actualSurvey.description}}</span>
                <div class="questionAnswer padding-top-xl">
                    @for (item of actualSurvey.questions; track $index) {
                        <div class="questionAnswer__container padding-bottom-xxl">
                            <div class="questionAnswer__number">
                                <span class="questionAnswer__question">{{item.question_number}}.</span>
                            </div>
                            <div class="questionAnswer__block">
                                <span class="questionAnswer__question">{{item.question}}</span>
                                @if(item.is_multiple){
                                    <span class="questionAnswer__multiple">More than one answers are possible.</span>
                                }
                                @if(item.answer1 != ''){
                                    <button class="answerContainer" (click)="toggleAnswer($index, 1)" [disabled]="!isSurveyEditable()">
                                        <div class="answerContainer__row">
                                            <img class="answerContainer__row__image" [src]="permissionCheckbox[$index].checkedAnswer1 ? 'assets/icons/answer_checkbox_checked.svg': 'assets/icons/answer_checkbox.svg'" alt="checkbox icon">
                                            <span class="answerContainer__row__letter">A.</span>
                                            <span class="answerContainer__row__answer">{{item.answer1}}</span>
                                        </div>
                                    </button>
                                }
                                @if(item.answer2 != ''){
                                    <button class="answerContainer" (click)="toggleAnswer($index, 2)" [disabled]="!isSurveyEditable()">
                                        <div class="answerContainer__row">
                                            <img class="answerContainer__row__image" [src]="permissionCheckbox[$index].checkedAnswer2 ? 'assets/icons/answer_checkbox_checked.svg': 'assets/icons/answer_checkbox.svg'" alt="checkbox icon">
                                            <span class="answerContainer__row__letter">B.</span>
                                            <span class="answerContainer__row__answer">{{item.answer2}}</span>
                                        </div>
                                    </button>
                                }
                                @if(item.answer3 != ''){
                                    <button class="answerContainer" (click)="toggleAnswer($index, 3)" [disabled]="!isSurveyEditable()">
                                        <div class="answerContainer__row">
                                            <img class="answerContainer__row__image" [src]="permissionCheckbox[$index].checkedAnswer3 ? 'assets/icons/answer_checkbox_checked.svg': 'assets/icons/answer_checkbox.svg'" alt="checkbox icon">
                                            <span class="answerContainer__row__letter">C.</span>
                                            <span class="answerContainer__row__answer">{{item.answer3}}</span>
                                        </div>
                                    </button>
                                }
                                @if(item.answer4 != ''){
                                    <button class="answerContainer" (click)="toggleAnswer($index, 4)" [disabled]="!isSurveyEditable()">
                                        <div class="answerContainer__row">
                                            <img class="answerContainer__row__image" [src]="permissionCheckbox[$index].checkedAnswer4 ? 'assets/icons/answer_checkbox_checked.svg': 'assets/icons/answer_checkbox.svg'" alt="checkbox icon">
                                            <span class="answerContainer__row__letter">D.</span>
                                            <span class="answerContainer__row__answer">{{item.answer4}}</span>
                                        </div>
                                    </button>
                                }
                                @if(item.answer5 != ''){
                                    <button class="answerContainer" (click)="toggleAnswer($index, 5)" [disabled]="!isSurveyEditable()">
                                        <div class="answerContainer__row">
                                            <img class="answerContainer__row__image" [src]="permissionCheckbox[$index].checkedAnswer5 ? 'assets/icons/answer_checkbox_checked.svg': 'assets/icons/answer_checkbox.svg'" alt="checkbox icon">
                                            <span class="answerContainer__row__letter">E.</span>
                                            <span class="answerContainer__row__answer">{{item.answer5}}</span>
                                        </div>
                                    </button>
                                }
                                @if(item.answer6 != ''){
                                    <button class="answerContainer" (click)="toggleAnswer($index, 6)" [disabled]="!isSurveyEditable()">
                                        <div class="answerContainer__row">
                                            <img class="answerContainer__row__image" [src]="permissionCheckbox[$index].checkedAnswer6 ? 'assets/icons/answer_checkbox_checked.svg': 'assets/icons/answer_checkbox.svg'" alt="checkbox icon">
                                            <span class="answerContainer__row__letter">F.</span>
                                            <span class="answerContainer__row__answer">{{item.answer6}}</span>
                                        </div>
                                    </button>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="btnControlContainer">
                    <button class="btn btn--secondary" (click)="updateSurvey()">
                        @if(isSurveyValid){
                            <span class="btnControlContainer__btnText">Complete survey</span>
                        } @else {
                            <span class="btnControlContainer__btnText padding-left-m padding-right-m">Exit</span>
                        }
                    </button>
                </div>
            </article>
            <div class="showResultMobile">
                <button class="showResultMobile__controlButton" (mouseenter)="isHovered.set(true)" (mouseleave)="isHovered.set(false)"
                (click)="toggleShownResultsMobile()">
                    <span class="showResultMobile__controlButton__text">{{showResultBtnValue}}</span>
                    <img [src]="selectPath()" class="showResultMobile__controlButton__image" alt="drop down arrow icon">
                </button>
            </div>
            <aside class="resultIndication" [class.content-center]="!isAnyResultAvailable" [class.content-end]="isAnyResultAvailable">
                <span class="resultIndication__caption">Survey results <span class="resultIndication__caption--highlight">LIVE</span></span>
                @if(!isAnyResultAvailable){
                    <div class="resultIndication__noResults">
                        <span>Results will be shown here after <br>particpants complete the survey.</span>
                        <span class="resultIndication__noResults__text">There are no answers yet.</span>
                    </div>
                }
                @if(isAnyResultAvailable){
                @for (item of actualSurvey.questions; track $index){
                    <span class="resultIndication__question">{{item.question_number}}. {{item.question}}</span>
                    <div class="resultIndication__resultContainer">
                        @if(item.answer1 != ''){
                            <div class="resultIndication__resultContainer__row">
                                <label class="progressLabel" [attr.for]="item.question_number + '_answer1'">A</label>
                                <progress
                                    class="progressBar"
                                    [id]="item.question_number + '_answer1'"
                                    max="100"
                                    [value]="resultsInPercent()[$index].resultInPercent1">
                                </progress>
                                <span class="progressValuePercent">{{resultsInPercent()[$index].resultInPercent1}}%</span>
                            </div>
                        }
                        @if(item.answer2 != ''){
                            <div class="resultIndication__resultContainer__row">
                                <label class="progressLabel" [attr.for]="item.question_number + '_answer2'">B</label>
                                <progress
                                    class="progressBar"
                                    [id]="item.question_number + '_answer2'"
                                    max="100"
                                    [value]="resultsInPercent()[$index].resultInPercent2">
                                </progress>
                                <span class="progressValuePercent">{{resultsInPercent()[$index].resultInPercent2}}%</span>
                            </div>
                        }
                        @if(item.answer3 != ''){
                            <div class="resultIndication__resultContainer__row">
                                <label class="progressLabel" [attr.for]="item.question_number + '_answer3'">C</label>
                                <progress
                                    class="progressBar"
                                    [id]="item.question_number + '_answer3'"
                                    max="100"
                                    [value]="resultsInPercent()[$index].resultInPercent3">
                                </progress>
                                <span class="progressValuePercent">{{resultsInPercent()[$index].resultInPercent3}}%</span>
                            </div>
                        }
                        @if(item.answer4 != ''){
                            <div class="resultIndication__resultContainer__row">
                                <label class="progressLabel" [attr.for]="item.question_number + '_answer4'">D</label>
                                <progress
                                    class="progressBar"
                                    [id]="item.question_number + '_answer4'"
                                    max="100"
                                    [value]="resultsInPercent()[$index].resultInPercent4">
                                </progress>
                                <span class="progressValuePercent">{{resultsInPercent()[$index].resultInPercent4}}%</span>
                            </div>
                        }
                        @if(item.answer5 != ''){
                            <div class="resultIndication__resultContainer__row">
                                <label class="progressLabel" [attr.for]="item.question_number + '_answer5'">E</label>
                                <progress
                                    class="progressBar"
                                    [id]="item.question_number + '_answer5'"
                                    max="100"
                                    [value]="resultsInPercent()[$index].resultInPercent5">
                                </progress>
                                <span class="progressValuePercent">{{resultsInPercent()[$index].resultInPercent5}}%</span>
                            </div>
                        }
                        @if(item.answer6 != ''){
                            <div class="resultIndication__resultContainer__row">
                                <label class="progressLabel" [attr.for]="item.question_number + '_answer6'">F</label>
                                <progress
                                    class="progressBar"
                                    [id]="item.question_number + '_answer6'"
                                    max="100"
                                    [value]="resultsInPercent()[$index].resultInPercent6">
                                </progress>
                                <span class="progressValuePercent">{{resultsInPercent()[$index].resultInPercent6}}%</span>
                            </div>
                        }
                    </div>
                } 
                }
            </aside>
        </div>
    } @else {
        <p>Connection to database...</p>
    }
</section>

<!-- <p>{{actualSurvey.name}}</p> -->
