@use 'abstracts/variables' as var;
@use 'abstracts/mixin' as mx;
@use 'sass:map';

.surveyView{
    max-width: 1440px;
    margin: 0 auto;
    padding:  map.get(var.$sizes, xl) 0;
    @include mx.flex-start();
    gap: map.get(var.$sizes, xxl);
}

.surveyHeader{
    width: 100%;
    @include mx.flex-spaceBetween();
}

.viewContentContainer{
    width: 100%;
    display: flex;
    align-items: end;
    gap: map.get(var.$sizes, xl);
}

.surveyIndication{
    width: 50%;
    background-color: map.get(var.$colors, list-hover);
    border-top-right-radius: 160px;
    font-family: 'MyMulish';
    color: map.get(var.$colors, dashboard-bg);
    @include mx.flex-start();
    gap: map.get(var.$sizes, s);

    &__publishedBox{
        width: fit-content;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: map.get(var.$sizes, s);
        padding-right: map.get(var.$sizes, xs);
        border-top-right-radius: map.get(var.$sizes, sm);
        background-color: map.get(var.$colors, font-orange);

        &__text{
            font-size: map.get(var.$sizes, m);
            font-weight: 600;
            color: map.get(var.$colors, font-box);
        }
    }

    &__infoBox{
        width: 100%;
        @include mx.flex-spaceBetween();

        &__text{
            font-size: map.get(var.$sizes, sm);
            font-weight: 500;
        }
    }

    &__caption{
        font-family: 'MyNerkoOne';
        font-size: map.get(var.$sizes, sUltra);
        font-weight: 400;
        color: map.get(var.$colors, font-orange);
        display: inline-block;
        line-height: 1.0;
    }

    &__description{
        font-size: map.get(var.$sizes, m);
        font-weight: 500;
    }
}

.questionAnswer{
    width: 100%;
    display: flex;
    align-items: start;
    gap: 10%;
    flex-wrap: wrap;

    &__container{
        width: 45%;
        display: flex;
        align-items: start;
        gap: map.get(var.$sizes, s);
    }

    &__block{
        // max-width: 50%;
        @include mx.flex-start();
        gap: map.get(var.$sizes, ss);
    }

    &__question{
        font-size: map.get(var.$sizes, xm);
        font-weight: 700;
    }

    &__multiple{
        font-size: map.get(var.$sizes, xs);
        font-weight: 400;
    }
}

.answerContainer{
    width: 100%;
    padding-top: map.get(var.$sizes, s);
    @include mx.flex-start();
    gap: map.get(var.$sizes, s);

    &__row{
        width: 100%;
        display: flex;
        align-items: start;
        gap: map.get(var.$sizes, ss);
        font-size: map.get(var.$sizes, m);

        &:hover{
            cursor: pointer;
            background-color: map.get(var.$colors, button-bg-survey);
            border-radius: map.get(var.$normSizes, ss);
        }

        &__image{
            padding-right: map.get(var.$sizes, s);
        }

        &__letter{
            font-weight: 700;
        }

        &__answer{
            font-weight: 400;
        }
    }
}

.resultIndication{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: map.get(var.$sizes, m);

    &__caption{
        font-family: 'MyNerkoOne';
        font-size: map.get(var.$sizes, xl);
        font-weight: 400;
        color: map.get(var.$colors, font-box);

        &--highlight{
            color: map.get(var.$colors, font-orange);
        }
    }

    &__noResults{
        @include mx.flex-start();
        gap: map.get(var.$normSizes, ultra);
        align-self: stretch;
        font-family: 'MyMulish';
        font-size: map.get(var.$sizes, xm);
        font-weight: 700;
        color: map.get(var.$colors, dashboard-bg);

        &__text{
            width: 100%;
            text-align: center;
        }
    }

    &__question{
        font-family: 'MyMulish';
        font-size: map.get(var.$sizes, xm);
        font-weight: 700;
        color: map.get(var.$colors, dashboard-bg);
    }

    &__resultContainer{
        @include mx.flex-start();
        gap: map.get(var.$sizes, xs);

        &__row{
            display: flex;
            align-items: center;
            gap: map.get(var.$sizes, s);
        }
    }
}

.content-center{
    justify-content: center;
}

.content-end{
    justify-content: end;
}

.btnControlContainer{
    width: 100%;
    display: flex;
    justify-content: end;

    &__btnText{
        font-size: map.get(var.$sizes, m);
        font-weight: 700;
        color: map.get(var.$colors, dashboard-bg);
    }
}