<article class="newSurveyContainer">
    <app-create-survey-dialog></app-create-survey-dialog>
    <div class="newSurveyContent">
        <header class="newSurveyHeader">
            <div class="newSurveyHeader__draftBox">
                <span class="newSurveyHeader__draftText">Draft</span>
            </div>
            <div class="newSurveyCaption">
                <span class="newSurveyCaption__text">Create new survey</span>
                <button class="btn btn--secondary" (click)="cancelDraft()">
                    <span class="newSurveyCaption__btnText">Cancel</span>
                    <img src="assets/icons/close_icon.svg" alt="a cross icon for cancel indication">
                </button>
            </div>
        </header>
        <app-create-survey-form #myForm [(surveyPublished)]="showDialog" (isFormValid)="checkForm($event)" class="appForm"></app-create-survey-form>
        <div class="btnPublishContainer" (click)="myForm.submitFormFromOutside()">
            <button class="btn btn--primary" [disabled]="!formInputsValid">
                <span>Publish</span>
                <img src="assets/icons/check.svg" alt="check icon" class="btn--primary__iconAdd">
            </button>
        </div>
    </div>
</article>
