@use 'abstracts/variables' as var;
@use 'abstracts/mixin' as mx;
@use 'sass:map';

:host {
    display: block;
    width: auto;

    @include mx.respond-to("mobile-start"){
        width: 100%;
    }
}

.captionSection{
    width: 100%;
    height: 520px;
    @include mx.flex-start(row);
    gap: map.get(var.$sizes, xl);

    @include mx.respond-to("mobile-start") {
        height: auto;
        @include mx.flex-center();
    }

    &__leftContent{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;

        @include mx.respond-to("mobile-start"){
            display: none;
        }
    }

    &__captionBox{
        @include mx.flex-start();

        &__text{
            font-family: 'MyNerkoOne';
            font-size: map.get(var.$normSizes, ultra);
            color: map.get(var.$colors, font-orange);
            line-height: 0.9;

            @include mx.respond-to("desktop-start"){
                font-size: map.get(var.$normSizes, xxlPlus);
            }
        }
    }

    &__description{
        font-family: 'MyMulish';
        font-size: map.get(var.$sizes, l);
        font-weight: 600;
        color: white;

        @include mx.respond-to("desktop-start"){
            font-size: map.get(var.$sizes, xm);
        }
    }

    &__rightContent{
        min-width: 520px;
        height: 520px;
        position: relative;
        z-index: 10;

        @include mx.respond-to("mobile-start"){
            min-width: 400px;
            height: 400px;
        }

        &__imgIndexPhone{
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;

            @include mx.respond-to("mobile-start") {
                width: 400px;
                height: 400px;
            }
        }

        &__imgIndexCheck{
            z-index: 1;
            position: absolute;
            top: 65%;
            right: 15%;
            transform: scale(0.7);
            transition: transform 0.3s ease;
        }

        &__imgIndexQuestion{
            z-index: 3;
            position: absolute;
            top: 0%;
            right: 10%;
            transform: scale(0.9);
            transition: transform 0.3s ease;
        }

        &__imgIndexStar{
            z-index: 3;
            position: absolute;
            left: 16%;
            bottom: 4%;
            transform: scale(0.7);
            transition: transform 0.3s ease;
        }

        &__imgIndexBubble{
            z-index: 3;
            position: absolute;
            top: 20%;
            left: 15%;
            transform: scale(0.7);
            transition: transform 0.3s ease;
        }

        &:hover &__imgIndexCheck{
            transform: scale(1) translateX(55px) translateY(20px);
        }

        &:hover &__imgIndexQuestion{
            transform: translateX(-5px) translateY(-5px) rotate(-8deg);
        }

        &:hover &__imgIndexStar{
            transform: scale(0.9) translateX(-10px) translateY(10px);
        }

        &:hover &__imgIndexBubble{
            transform: scale(1) translateX(-5px) rotate(-5deg);
        }
    }

    &__mobileContent{
        display: none;

        @include mx.respond-to("mobile-start") {
            width: 100%;
            @include mx.flex-start();
        }
    }

    &__mobileDescriptionContainer {
        display: none;

        @include mx.respond-to("mobile-start") {
            display: block;
        }
    }

    &__btnContainerMobile {
        display: none;

        @include mx.respond-to("mobile-start") {
            display: block;
        }
    }
}