<section class="captionSection">
    <div class="captionSection__leftContent">
        <div class="captionSection__captionBox">
            <span class="captionSection__captionBox__text">Collect Feedback,</span>
            <span class="captionSection__captionBox__text">Unlock Ideas</span>
        </div>
        <span class="captionSection__description">
            Create and share surveys in minutes - from team events to workplace culture. 
            Collect opinions, engage your audience, and turn feedback into action.
        </span>
        <div class="captionSection__btnContainer padding-top-xxl">
            <button routerLink="draft" class="btn btn--primary">New survey</button>
        </div>
    </div>
    <div class="captionSection__rightContent">
        <img class="captionSection__rightContent__imgIndexPhone" src="/assets/img/phone.svg" alt="a mobile icon">
        <img class="captionSection__rightContent__imgIndexCheck" src="/assets/img/check.svg" alt="a check circle icon">
        <img class="captionSection__rightContent__imgIndexQuestion" src="/assets/img/questin-mark-circle.svg" alt="a question mark circle icon">
        <img class="captionSection__rightContent__imgIndexStar" src="/assets/img/star-circle.svg" alt="a star circle icon">
        <img class="captionSection__rightContent__imgIndexBubble" src="/assets/img/check-circle.svg" alt="a comment bubble icon">
    </div>
</section>
