@use '../abstracts/breakpoints' as bp;

@mixin flex-center($direction: column){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin flex-start($direction: column){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: start;
}

@mixin flex-end($direction: column){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: end;
}

@mixin flex-spaceBetween($direction: row){
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
}

@mixin respond-to($breakpoint){
    @if $breakpoint == "desktop-start" {
        @media(max-width: bp.$breakpoint-desktop-start){ @content; }
    }@else if $breakpoint == "mobile-start" {
        @media(max-width: bp.$breakpoint-mobile-start) { @content; }
    }@else if $breakpoint == "mobile-end" {
        @media(max-width: bp.$breakpoint-mobile-end) { @content }
    }
}
