@mixin flex-center($direction: column){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin flex-start($direction: column){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: start;
}

@mixin flex-end($direction: column){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: end;
}