$colors:(
    dashboard-bg: #35273a,
    survey-bg: #43334a,
    font-orange: #FFB770,
    button-bg-survey: #FFCFA1,
    btn-white: #FEFDFF,
    input-focus: #FEE9D4,
    list-hover: #F4E9FB,
    card: #FAF5FE,
    font-box: #221227,
    progress-bg: #EDEDED,
    progress-percent: #D79451
);

$sizes:(
    zero: 0px,
    ss : 4px,
    s: 8px,
    xs: 12px,
    sm: 14px,
    m: 16px,
    xm: 18px,
    l: 24px,
    ll:26px,
    xl: 32px,
    xxl: 48px,
    sUltra:56px,
    ultra: 64px,
    xUltra: 72px
);

$normSizes:(
    ss:5px,
    s: 10px,
    m: 15px,
    l: 20px,
    xl : 30px,
    xxl: 40px,
    xlPlus: 50px,
    xxlPlus: 60px,
    sUltra: 80px,
    ultra: 100px
);