<article class="mainSurveysContainer">
    <span class="mainSurveysContainer__caption padding-bottom-xl">Your surveys</span>
    <div class="surveyListContainer">
        <span class="surveyListContainer__text">Ending soon surveys</span>
        <article class="listContainer">
            <div class="listContainer__card">
                <div class="listContainer__card__caption">
                    <span class="listContainer__card__caption__category">category</span>
                    <span class="listContainer__card__caption__name">survey name</span>
                </div>
                <div class="listContainer__card__dateBox">
                    <span class="listContainer__card__dateBox__text">Ends in 1 day</span>
                </div>
            </div>
        </article>
    </div>
</article>
