@use 'abstracts/variables' as var;
@use 'abstracts/mixin' as mx;
@use 'sass:map';

.mainSurveysContainer{
    width: 1100px;
    @include mx.flex-center();
    gap: map.get(var.$sizes, m);

    &__caption{
        text-align: center;
        font-family: 'MyNerkoOne';
        font-size: map.get(var.$sizes, xUltra);
        font-weight: 400;
        color: map.get(var.$colors, font-orange);
    }
}

.surveyListContainer{
    font-family: 'MyMulish';
    width: 100%;
    @include mx.flex-start();
    gap: map.get(var.$sizes, m);

    &__text{
        font-size: map.get(var.$sizes, xl);
        font-weight: 500;
        color: white;
    }
}

.listContainer{
    width: 100%;
    @include mx.flex-spaceBetween();
    // gap: map.get(var.$sizes, m);

    &__card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: map.get(var.$colors, card);
        padding: map.get(var.$normSizes, xxl) map.get(var.$sizes, xl);
        border-top-right-radius: map.get(var.$normSizes, sUltra);
        color: map.get(var.$colors, dashboard-bg);
        min-height: 300px;
        width: 280px;

        &:hover{
            cursor: pointer;
            background-color: map.get(var.$colors, list-hover);
        }

        &__caption{
            @include mx.flex-start();
            gap: map.get(var.$sizes, s);

            &__category{
                font-size: map.get(var.$sizes, sm);
                font-weight: 600;
            }

            &__name{
                font-size: map.get(var.$sizes, ll);
                font-weight: 700;
            }
        }

        &__dateBox{
            width: fit-content;
            background-color: map.get(var.$colors, button-bg-survey);
            padding: 3px 6px;
            border-top-right-radius: map.get(var.$sizes, sm);

            &__text{
                font-size: map.get(var.$sizes, xs);
                font-weight: 500;
            }
        }
    }
}