<section class="listedSurveys padding-bottom-xxl">
    <header class="listedHeader">
        <div class="listedHeader__btnContainer">
            <button class="listedHeader__btnContainer__btn" [class.isActive]="isActiveSurvey()" (click)="toggleListedSurveys('active')">Active survey</button>
            <button class="listedHeader__btnContainer__btn" [class.isActive]="isPastSurvey()" (click)="toggleListedSurveys('past')">Past survey</button>
        </div>
        <div class="listedHeader__categoryBox">
            <div class="listedHeader__category padding-ss" (mouseenter)="isHoveredArrow = true" (mouseleave)="isHoveredArrow = false"
            (click)="toggleDropdown()">
                <span class="padding-bottom-ss">Sort by categories</span>
                <img [src]="selectArrowPath()" alt="drop down arrow icon">
                @if(isListOpen()){
                    <div #dropdownRef class="listedHeader__category__dropdownList padding-s" name="category">  
                        @for (item of categoryList; track item) {
                            <div class="listedHeader__category__dropdownList__item" (click)="selectCategory(item, $event)">
                                {{item}}
                            </div> 
                        }
                    </div>
                }
            </div>
            <span class="listedHeader__categoryBox__selectedText">{{selectedCategory()}}</span>
        </div>
    </header>
    <article class="surveyGrid">
       @if(isActiveSurvey()){
        @for (item of filteredSurveys(); track $index) {
            <div class="surveyGrid__card" (click)="openActiveSurvey($index)">
                <span class="surveyGrid__card__category">{{item.category}}</span>
                <span class="surveyGrid__card__name">{{item.name}}</span>
                <div class="surveyGrid__card__endContainer">
                    <div class="surveyGrid__card__endContainer__textBox">
                        <span class="surveyGrid__card__endContainer__textBox__text">{{item.remainingDays}}</span>
                    </div>
                </div>
            </div>
        } @empty {
            <span class="surveyGrid__card__empty padding-top-xl">No active surveys found for this category</span>
        }
       }
       @if(isPastSurvey()){
        @for (item of filteredSurveys(); track $index) {
            <div class="surveyGrid__card" (click)="openPastSurvey($index)">
                <span class="surveyGrid__card__category">{{item.category}}</span>
                <span class="surveyGrid__card__name">{{item.name}}</span>
                <div class="surveyGrid__card__endContainer">
                    <div class="surveyGrid__card__endContainer__textBox">
                        <span class="surveyGrid__card__endContainer__textBox__text">{{item.remainingDays}}</span>
                    </div>
                </div>
            </div>
        } @empty {
            <span class="surveyGrid__card__empty padding-top-xl">No past surveys found for this category</span>
        }
       }
    </article>
</section>
