@use 'abstracts/variables' as var;
@use 'abstracts/mixin' as mx;
@use 'sass:map';

:host {
    display: block;
    width: auto;

    @include mx.respond-to("desktop-start"){
        width: 100%;
    }
}

.listedSurveys{
    width:  1100px;
    @include mx.flex-start();
    gap: map.get(var.$sizes, xl);

    @include mx.respond-to("desktop-start"){
        width: 100%;
    }
}

.listedHeader{
    width: 100%;
    @include mx.flex-spaceBetween();

    @include mx.respond-to("mobile-end"){
        @include mx.flex-start();
        gap: map.get(var.$sizes, xl)
    }

    &__btnContainer{
        display: flex;
        gap: map.get(var.$sizes, m);

        &__btn{
            font-family: 'MyNokora';
            font-size: map.get(var.$sizes, m);
            font-weight: 400;
            color: map.get(var.$colors, dashboard-bg);
            border: none;
            padding: 2px 10px;
            border-radius: map.get(var.$normSizes, l);
            background-color: map.get(var.$colors, input-focus);

            &:hover{
                cursor: pointer;
                background-color: map.get(var.$colors, button-bg-survey);
            }
        }
    }

    &__categoryBox{
        @include mx.flex-start();
        gap: map.get(var.$sizes, ss);

        &__selectedText{
            font-family: 'MyMulish';
            font-size: map.get(var.$sizes, m);
            font-weight: 700;
            color: map.get(var.$colors, font-orange);
            padding-left: map.get(var.$sizes, ss);
        }
    }

    &__category{
        @include mx.flex-center(row);
        gap: map.get(var.$sizes, s);
        position: relative;
        font-family: 'MyMulish';
        font-size: map.get(var.$sizes, xm);
        font-weight: 700;
        color: white;
        border-radius: map.get(var.$sizes, ss);

        &:hover{
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.1);
        }

        &__dropdownList{
            width: 100%;
            position: absolute;
            top: 120%;
            background-color: map.get(var.$colors, btn-white);
            font-size: map.get(var.$sizes, sm);
            color: map.get(var.$colors, dashboard-bg);
            border-radius: 6px;

            &__item{
                padding: map.get(var.$sizes, ss);
                border-radius: map.get(var.$normSizes, ss);

                &:hover{
                    background-color: map.get(var.$colors, list-hover);
                }
            }
        }
    }

   
}

.isActive{
    background-color: map.get(var.$colors, font-orange);
}

.surveyGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: map.get(var.$sizes, m);

    grid-auto-rows: 132px;
    max-height: calc((3 * 132px) + (2 * 16px));
    overflow-y: auto;
    padding-right: map.get(var.$sizes, m);

    @include mx.respond-to("mobile-start") {
        @include mx.flex-start();
        grid-template-columns: none;
        max-height: none;
        padding-right: 0;
    }
    
    &__card{
        background-color: rgba(255, 255, 255, 0.1);
        padding: map.get(var.$sizes, xs) map.get(var.$normSizes, l);
        border-top-left-radius: map.get(var.$normSizes, ss);
        border-top-right-radius: map.get(var.$normSizes, xlPlus);
        border-bottom-left-radius: map.get(var.$normSizes, ss);
        border-bottom-right-radius: map.get(var.$normSizes, ss);
        @include mx.flex-start();
        gap: map.get(var.$sizes, m);
        font-family: 'MyMulish';

        @include mx.respond-to("desktop-start"){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            gap: unset;
        }

        @include mx.respond-to("mobile-start"){
            width: calc(100% - 40px);
            height: 150px;
        }

        &:hover{
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.2);
        }

        &__category{
            font-size: map.get(var.$sizes, m);
            font-weight: 500;
            color: map.get(var.$colors, button-bg-survey);
        }

        &__name{
            font-size: map.get(var.$sizes, l);
            font-weight: 700;
            color: white;

            @include mx.respond-to("desktop-start"){
                font-size: map.get(var.$normSizes, l);
            }
        }

        &__endContainer{
            width: 100%;
            display: flex;
            justify-content: end;

            &__textBox{
                background-color: map.get(var.$colors, button-bg-survey);
                padding: 3px 6px;
                border-top-right-radius: map.get(var.$sizes, sm);

                &__text{
                    font-size: map.get(var.$sizes, xs);
                    font-weight: 500;
                    color: map.get(var.$colors, font-box);
                }
            }
        }

        &__empty{
            font-family: 'MyMulish';
            font-size: map.get(var.$sizes, l);
            font-weight: 700;
            color: white;
        }
    }
}