@use 'abstracts/variables' as var;
@use 'abstracts/mixin' as mx;
@use 'sass:map';

.listedSurveys{
    width:  1100px;
    @include mx.flex-start();
}

.listedHeader{
    width: 100%;
    @include mx.flex-spaceBetween();

    &__btnContainer{
        display: flex;
        gap: map.get(var.$sizes, m);

        &__btn{
            font-family: 'MyNokora';
            font-size: map.get(var.$sizes, m);
            font-weight: 400;
            color: map.get(var.$colors, dashboard-bg);
            border: none;
            padding: 2px 10px;
            border-radius: map.get(var.$normSizes, l);
            background-color: map.get(var.$colors, input-focus);

            &:hover{
                cursor: pointer;
                background-color: map.get(var.$colors, button-bg-survey);
            }
        }
    }

    &__category{
        @include mx.flex-center(row);
        gap: map.get(var.$sizes, s);
        position: relative;
        font-family: 'MyMulish';
        font-size: map.get(var.$sizes, xm);
        font-weight: 700;
        color: white;
        border-radius: map.get(var.$sizes, ss);

        &:hover{
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.1);
        }

        &__dropdownList{
            width: 100%;
            position: absolute;
            top: 100%;
            background-color: map.get(var.$colors, btn-white);
            font-size: map.get(var.$sizes, sm);
            color: map.get(var.$colors, dashboard-bg);
            border-radius: 6px;

            &__item{
                padding: map.get(var.$sizes, ss);
                border-radius: map.get(var.$normSizes, ss);

                &:hover{
                    background-color: map.get(var.$colors, list-hover);
                }
            }
        }
    }

   
}

.isActive{
    background-color: map.get(var.$colors, font-orange);
}