@use 'abstracts/variables' as var;
@use 'abstracts/mixin' as mx;
@use 'sass:map';

.createSurveyForm{
    width: 100%;
    padding: map.get(var.$normSizes, xxl) map.get(var.$sizes, xl);
    background-color: map.get(var.$colors, survey-bg);
    border-top-left-radius: map.get(var.$sizes, ss);
    border-top-right-radius: map.get(var.$normSizes, sUltra);
    border-bottom-left-radius: map.get(var.$sizes, ss);
    border-bottom-right-radius: map.get(var.$sizes, ss);
}

.surveyForm{
    @include mx.flex-start();
    font-family: 'MyMulish';
    caret-color: map.get(var.$colors, dashboard-bg);
    gap: map.get(var.$sizes, xxl);

    &__nameDescriptionContainer{
        width: 100%;
        display: flex;
        // justify-content: space-between;
        align-items: stretch;
        // gap: map.get(var.$sizes, xxl);
        gap: 10%
    }

    &__pair{
        @include mx.flex-start();
        width: 100%;
    }

    &__pairDescription{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    &__label{
        font-size: map.get(var.$sizes, xm);
        font-weight: 700;
        color: map.get(var.$colors, btn-white);
        white-space: nowrap;
        
        &--optional{
            font-weight: 400;
        }
    }

    &__fieldset{
        border: none;
        margin: 0;
        padding: 0;
        @include mx.flex-start();
        gap: map.get(var.$sizes, s);
        width: 45%;
    }

    &__fieldsetDescription{
        border: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: map.get(var.$sizes, s);
        width: 45%;
    }

    &__inputField{
        outline: none;
        border: none;
        flex: 1;
        font-size: map.get(var.$sizes, m);
        font-weight: 400;
        color: map.get(var.$colors, dashboard-bg);
        background-color: map.get(var.$colors, btn-white);
        padding: 7px 13px;
        border-top-left-radius: map.get(var.$normSizes, ss);
        border-top-right-radius: map.get(var.$normSizes, l);
        border-bottom-left-radius: map.get(var.$normSizes, ss);
        border-bottom-right-radius: map.get(var.$normSizes, ss);

        &:focus{
            background-color: map.get(var.$colors, input-focus);
        }
    }
}

.inputBox{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: map.get(var.$sizes, s);
}

.inputBoxDescription{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: stretch;
    gap: map.get(var.$sizes, s);
}

.deleteBtn{
    all: unset;
    padding-top: 4px;
    cursor: pointer;
}

.dateContainer{
    @include mx.flex-start(row);
    gap: map.get(var.$sizes, m);
}

.hiddenDateInput{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.categoryPair{
    display: flex;
    gap: map.get(var.$sizes, m);
    position: relative;
    cursor: pointer;
    padding-right: map.get(var.$sizes, xxl);
    padding-top: map.get(var.$sizes, ss);
    padding-bottom: map.get(var.$sizes, ss);
    padding-left: map.get(var.$sizes, ss);

    &__Btn{
        all: unset;
        position: absolute;
        top: map.get(var.$sizes, ss);
        right: 2px;
        pointer-events: none;
    }

    &__dropdownList{
        width: 100%;
        position: absolute;
        top: 130%;
        background-color: map.get(var.$colors, btn-white);
        font-size: map.get(var.$sizes, sm);
        border-radius: 6px;

        &__item{
            padding: map.get(var.$sizes, ss);
            border-radius: map.get(var.$normSizes, ss);

            &:hover{
                background-color: map.get(var.$colors, list-hover);
            }
        }
    }

    &:hover{
        background-color: rgba(255,255,255, 0.3);
        border-radius: map.get(var.$normSizes, ss);
    }
}

.labelPointer{
    cursor: pointer;
}

.is-open{
    background-color: rgba(255,255,255, 0.3);
    border-radius: map.get(var.$normSizes, ss);
}

textarea{
    resize: none;
}

.questionContainer{
    display: flex;
    // justify-content: space-between;
    align-items: start;
    gap: 15%;
    flex-wrap: wrap;
    width: 100%;

    &__fieldset{
        border: none;
        margin: 0;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: map.get(var.$sizes, xl);
        @include mx.flex-start();
        gap: map.get(var.$sizes, m);
        width: 40%;
    }

    &__questionBox{
        width: 100%;
        @include mx.flex-start();
        gap: map.get(var.$sizes, s);
    }

    &__labelBox{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__text{
            font-size: map.get(var.$sizes, xm);
            font-weight: 700;
            color: map.get(var.$colors, btn-white);
        }

        &__checkField{
            @include mx.flex-center(row);
            gap: map.get(var.$sizes, ss);

            &__text{
                font-size: map.get(var.$sizes, xs);
                font-weight: 400;
                color: map.get(var.$colors, btn-white);
            }
        }
    }

    &__answerBox{
        width: 100%;
        @include mx.flex-start();
        gap: map.get(var.$sizes, s);
    }
}

.checkboxMultiple{
    @include mx.flex-center(row);

    &:hover{
        cursor: pointer;
        background-color: rgba(255,255,255, 0.3);
    }
}

.answersContainer{
    width: 100%;
    @include mx.flex-start();
    gap: map.get(var.$sizes, ss);

    &__answerRow{
        width: 100%;
        display: flex;
        align-items: center;
        gap: map.get(var.$sizes, s);
    }
}

.addQuestionBtn{
    all: unset;
    @include mx.flex-start();

    &:hover{
        cursor: pointer;
    }

    &__textBox{
        display: flex;
        align-items: center;
        gap: map.get(var.$sizes, s);

        &__text{
            font-family: 'MyNokora';
            font-size: map.get(var.$sizes, m);
            font-weight: 700;
            color: map.get(var.$colors, btn-white);
        }
    }

    &__line{
        width: 100%;
        border-top: 2px solid map.get(var.$colors, btn-white);
    }
}

.addAnswerInfoContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__infoText{
        font-size: map.get(var.$sizes, xs);
        font-weight: 400;
        color: map.get(var.$colors, btn-white);
    }
}

.addQuestionBtnContainer{
    width: 45%;
    display: flex;
    justify-content: start;

    &__btnText{
        font-size: map.get(var.$sizes, m);
        font-weight: 700;
        color: map.get(var.$colors, btn-white);
    }
}
