<section class="createSurveyForm">
    <form class="surveyForm" [formGroup]="surveyForm">
        <section class="surveyForm__nameDescriptionContainer">
            <fieldset class="surveyForm__fieldset">
                <div class="surveyForm__pair">
                    <label class="surveyForm__label" for="survey-name">Survey name</label>
                    <div class="inputBox">
                        <input type="text" id="survey-name" class="surveyForm__inputField" formControlName="surveyName">
                        <button class="deleteBtn" (mouseenter)="isHoveredId = 'survey-name'" (mouseleave)="isHoveredId = ''"
                         (click)="clearInput('surveyName')">
                            <img [src]="changeDeleteIcon('survey-name')" alt="delte icon as trash bin">
                        </button>
                    </div>
                </div>
                <div class="dateContainer">
                    <div class="surveyForm__pair">
                        <label class="surveyForm__label" for="end-date">Set end date <span class="surveyForm__label--optional">(optional)</span></label>
                        <div class="inputBox">
                            <input type="text" id="end-date" class="surveyForm__inputField" (click)="dateInput.showPicker()" formControlName="surveyEndDate">
                            <button class="deleteBtn" (mouseenter)="isHoveredId = 'end-date'" (mouseleave)="isHoveredId = ''"
                             (click)="clearInput('surveyEndDate')">
                                <img [src]="changeDeleteIcon('end-date')" alt="delte icon as trash bin">
                            </button>
                        </div>
                        <input type="date" id="hiddenDate" #dateInput class="hiddenDateInput" (change)="transferDate($event)">
                    </div>
                    <div class="dateContainer__categoryBox">
                        <div #dropdownRef class="categoryPair" [class.is-open]="isOpen()" (click)="toggleDropdown()"
                        (mouseenter)="isHoveredArrow = true" (mouseleave)="isHoveredArrow = false">
                            <span class="surveyForm__label labelPointer">Choose category</span>
                            <button class="categoryPair__Btn">
                                <img [src]="selectArrowPath()" alt="drop down arrow icon">
                            </button>
                            @if(isOpen()){
                                <div class="categoryPair__dropdownList padding-s" name="category">  
                                    @for (item of categoryList; track item) {
                                        <div class="categoryPair__dropdownList__item" (click)="selectCategory(item, $event)">
                                            {{item}}
                                        </div> 
                                    }
                                </div>
                            }
                        </div>
                        <span class="dateContainer__categoryBox__text padding-left-ss">{{surveyForm.get('surveyCategory')?.value}}</span>
                    </div>
                </div>  
            </fieldset>
            <fieldset class="surveyForm__fieldsetDescription">
                <div class="surveyForm__pairDescription">
                    <label class="surveyForm__label" for="end-date">Describing text <span class="surveyForm__label--optional">(optional)</span></label>
                    <div class="inputBoxDescription maxHeight">
                        <textarea name="description" id="description-text" class="surveyForm__inputField" formControlName="surveyDescription"></textarea>
                        <div class="inputBoxDescription__btnContainer">
                            <button class="deleteBtn" (mouseenter)="isHoveredId = 'description-text'" (mouseleave)="isHoveredId = ''"
                             (click)="clearInput('surveyDescription')">
                                <img [src]="changeDeleteIcon('description-text')" alt="delte icon as trash bin">
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </section>
        <section class="questionContainer" formArrayName="surveyQuestions">
           @for(item of questionsArray.controls; track item; let i = $index){
            <fieldset class="questionContainer__fieldset" [formGroupName]="i">
                <div class="questionContainer__questionBox">
                    <div class="questionContainer__labelBox">
                        <label [for]="(i + 1) + '_question'" class="surveyForm__label">{{i + 1}}. Question</label>
                        <button class="deleteBtn" (mouseenter)="isHoveredId = (i + 1) + '_question'" (mouseleave)="isHoveredId = ''"
                         (click)="clearQuestionInput('surveyQuestion', i)">
                            <img [src]="changeDeleteIcon((i + 1) + '_question')" alt="delte icon as trash bin">
                        </button>
                    </div>
                    <input type="text" [id]="(i + 1) + '_question'" class="surveyForm__inputField maxWidth" formControlName="surveyQuestion">
                </div>
                <div class="questionContainer__answerBox">
                    <div class="questionContainer__labelBox">
                        <span class="questionContainer__labelBox__text">Answers</span>
                        <div class="questionContainer__labelBox__checkField">
                            <div class="checkboxMultiple" (click)="toggleMultipleAnswer(i)">
                                <img [src]="changeMultipleIcon(i)" alt="checkbox icon">
                            </div>
                            <span class="questionContainer__labelBox__checkField__text">Allow multiple answers.</span>
                        </div>
                    </div>
                    <div class="answersContainer">
                        <div class="answersContainer__answerRow">
                            <label class="surveyForm__label" [for]="(i + 1) + 'q_' + '1_answer'">A.</label>
                            <div class="inputBox">
                                <input type="text" [id]="(i + 1) + 'q_' + '1_answer'" class="surveyForm__inputField" formControlName="surveyAnswer1">
                                <button class="deleteBtn" (mouseenter)="isHoveredId = (i + 1) + 'q_' + '1_answer'" (mouseleave)="isHoveredId = ''"
                                 (click)="clearQuestionInput('surveyAnswer1', i)">
                                    <img [src]="changeDeleteIcon((i + 1) + 'q_' + '1_answer')" alt="delte icon as trash bin">
                                </button>
                            </div>
                        </div>
                        <div class="answersContainer__answerRow">
                            <label class="surveyForm__label" [for]="(i + 1) + 'q_' + '2_answer'">B.</label>
                            <div class="inputBox">
                                <input type="text" [id]="(i + 1) + 'q_' + '2_answer'" class="surveyForm__inputField" formControlName="surveyAnswer2">
                                <button class="deleteBtn" (mouseenter)="isHoveredId = (i + 1) + 'q_' + '2_answer'" (mouseleave)="isHoveredId = ''"
                                 (click)="clearQuestionInput('surveyAnswer2', i)">
                                    <img [src]="changeDeleteIcon((i + 1) + 'q_' + '2_answer')" alt="delte icon as trash bin">
                                </button>
                            </div>
                        </div>
                        @if(questions.length > 0){
                             @for (item of questions[i].actualList; track j; let j = $index){
                                <div class="answersContainer__answerRow">
                                    <label class="surveyForm__label" [for]="(i + 1) + 'q_' + (j + 3) + '_answer'">{{item}}.</label>
                                    <div class="inputBox">
                                        <input type="text" [id]="(i + 1) + 'q_' + (j + 3) + '_answer'" class="surveyForm__inputField" [formControlName]="`surveyAnswer${j + 3}`">
                                        <button class="deleteBtn" (mouseenter)="isHoveredId = (i + 1) + 'q_' + (j + 3) + '_answer'" (mouseleave)="isHoveredId = ''"
                                         (click)="clearQuestionInput('surveyAnswer' + (j + 3), i)">
                                            <img [src]="changeDeleteIcon((i + 1) + 'q_' + (j + 3) + '_answer')" alt="delte icon as trash bin">
                                        </button>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="addAnswerInfoContainer">
                        <button class="addQuestionBtn" (click)="questions[i].addAnswer()">
                            <div class="addQuestionBtn__textBox">
                                <span class="addQuestionBtn__textBox__text">Add answer</span>
                                <img src="assets/icons/add_circle_white.svg" alt="add symbol in a circle">
                            </div>
                            <div class="addQuestionBtn__line"></div>
                        </button>
                        <span class="addAnswerInfoContainer__infoText">{{questions[i].showAnswerInfo()}}</span>
                    </div>
                </div>
            </fieldset>
           }
            <div class="addQuestionBtnContainer">
                <button class="btn btn--secondary" (click)="addNewQuestion()">
                    <span class="addQuestionBtnContainer__btnText">Add next question</span>
                    <img src="assets/icons/add_circle_white.svg" alt="add symbol in circle as icon">
                </button>
            </div>
        </section>
    </form>
</section>

