/* You can add global styles to this file, and also import other style files */
@use 'styles/index.scss';
@use 'styles/base/fonts';

html, body{
    box-sizing: border-box;
    margin: 0;
}

.maxHeight{
    height: 100%;
}

html{
    scrollbar-color: rgb(54, 157, 195);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFCFA1; 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFB770; 
}
