@font-face {
    font-family: 'MyNerkoOne';
    src: url('/assets/fonts/Nerko_One/NerkoOne-Regular.ttf') format('truetype');
    font-weight: 100  900;
    font-style: normal;
}

@font-face {
    font-family: 'MyMulish';
    src: url('/assets/fonts/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'MyNokora';
    src: url('/assets/fonts/Nokora/Nokora-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}